<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="FilesMapper">
 	<sql id="bc">
 		from tbl_files where mno=#{mno}
 	</sql>
 	<insert id="reg" parameterType="fvo">
 		insert into tbl_files
 		values (#{uuid}, #{savedir}, #{fname}, #{ftype}, #{mno})
 	</insert>
 	<select id="list" parameterType="int" resultType="fvo">
 		select * <include refid="bc"/>
 	</select>
 	<select id="detail" parameterType="int" resultType="fvo">
 		select * <include refid="bc"/>
 	</select>
 	<delete id="del" parameterType="int">
 		delete <include refid="bc"/>
 	</delete>
 	<delete id="d" parameterType="int">
 		delete from tbl_files where mno=#{mno}
 	</delete>
 </mapper>